/*
Global.css
Global Styles
Site: ########
Media Specification: All
Authors: Nate Cornelius | Hole in the Roof Marketing | holeintheroof.com

Color Codes:
#
#
#
--------------------------
*/


/*-----------------
  EMBEDED FONTS
-----------------*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600);
/*
font-family: 'Open Sans', sans-serif;
*/


/*-----------------
MAIN
-----------------*/
body {
	font-family: 'Open Sans', sans-serif;
	color: #000;
    background: #fff;
}

a { color: #08c; }
a:visited { color: #39f; }
a:hover { color: #444; }

.container { width: 95%; max-width: 1000px; margin: 40px auto; }


/*-----------------
HEADER
-----------------*/
.logo img { vertical-align: bottom; }


/*-----------------
NAVIGATION
-----------------*/
.navbar-brand,
.navbar-brand:visited,
.navbar-brand:hover { 
	display: none; 
	font-size: 2em;
	color: #333;
	text-align: left;
	padding-top: 16px;
	padding-left: 10px;
}


/*-----------------
CONTENT
-----------------*/


/*---------------
SIDEBAR
---------------*/


/*-----------------
FOOTER
-----------------*/
footer {
	margin-bottom: 50px;
	padding: 20px 0;
}

.copyright p { font-size: 0.8em; color: #777; text-align: center; }


/*-----------------
ACCORDIONS
-----------------*/
.accordion-widget { margin: 20px 0 ; }
.accordion-widget .accordion-title { padding: 5px 10px; background: rgba(186,186,186,.8); }
.accordion-widget .accordion-title:hover { background: rgba(186,186,186, 1); }
.accordion-widget .article-title a { text-decoration: none; color: #000; font-weight: 700; }
.accordion-widget .article-title a:hover { text-decoration: none; color: #333; }
.accordion-widget .accordion-body  { display:none; }
.accordion-widget .accordion-body { padding: 30px; background: #dbdbdb; border: 1px solid #bababa; }


/*-----------------
MISC
-----------------*/
.txtcolorone { color: #00a1f0 !important; }
.txtcolortwo { color: #ff5e33 !important; }
.txtcolorthree { color: #fff !important; }